Repository scaraven/jit-liquidity-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-clippy, forge-fmt

rust-clippy:
  name: Rust clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

forge-fmt:
  name: Forge fmt
  description: Run forge fmt on files included in the commit. forge should be installed before-hand.
  entry: bash -c 'cd contracts && forge test -vvv'
  pass_filenames: false
  language: system

Change id names in pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

FEAT: Complete UniswapV3Helper.sol with liquidity functions
  .github/workflows/solidity.yml
  contracts/src/UniswapV3Helper.sol
  contracts/src/UniswapV3HelperInterface.sol
Due: forge-fmt

FIX: Migrate ethers library to use alloy-rs
  .github/workflows/rust.yml
  .github/workflows/solidity.yml
  .pre-commit-config.yaml
  Cargo.toml
  contracts/src/IERC20Token.sol
  contracts/src/IUniswapV2Pair.sol
  contracts/src/IUniswapV2Router.sol
  src/config.rs
  src/interfaces/erc20.rs
  src/main.rs
  src/testconfig.rs
  src/uniswap/router02.rs
  src/uniswap/router02interface.rs
  src/utils/addresses.rs
  src/utils/setup.rs
  src/utils/utils.rs
  src/utils/wallet.rs
Due: rust-clippy, forge-fmt

FIX: Delete line which changes wrong directory in solidity workflow
  .github/workflows/solidity.yml
  src/main.rs
Due: rust-clippy

FEAT: Add susbcribe.rs to watch and filter pending transactions
  Cargo.toml
  src/main.rs
  src/testconfig.rs
  src/watcher/subscribe.rs
Due: rust-clippy

FEAT: Create EngineTask struct to simulate calls
  src/main.rs
  src/simulation/engine.rs
  src/utils/addresses.rs
  src/watcher/subscribe.rs
Due: rust-clippy

FEAT: Implement EngineTask to simulate transaction calls
  Cargo.toml
  src/simulation/engine.rs
  src/watcher/subscribe.rs
Due: rust-clippy

FEAT: Add tracing.rs file which performs revm operations on executing transactions
  Cargo.toml
  src/main.rs
  src/simulation/engine.rs
  src/simulation/tracing.rs
Due: rust-clippy

FEAT: Create revm_call_single
  src/simulation/engine.rs
  src/simulation/tracing.rs
Due: rust-clippy

FEAT: Implement revm simulation calls
  src/simulation/engine.rs
  src/simulation/tracing.rs
Due: rust-clippy

FEAT: Implement scaffolding for filtering revm executions
  src/main.rs
  src/simulation/engine.rs
  src/simulation/engine_filter.rs
  src/simulation/tracing.rs
  src/uniswap/router02.rs
Due: rust-clippy

FEAT: Update erc20 and router02 so that they return TransactionRequests
  src/interfaces/erc20.rs
  src/interfaces/executor.rs
  src/main.rs
  src/simulation/tracing.rs
  src/uniswap/router02.rs
Due: rust-clippy

FEAT: Move router02 into interfaces/ folder
  src/interfaces/router02.rs
  src/interfaces/router02interface.rs
  src/main.rs
Due: rust-clippy

FEAT: Implement tests for revm erc20 transaction call, implement mapping slot calculator
  src/interfaces/erc20.rs
  src/simulation/tracing.rs
  src/utils/utils.rs
Due: rust-clippy

REFACTOR: move create module declaration into lib.rs
  contracts/src/UniswapV3HelperInterface.sol
  src/config/config.rs
  src/config/testconfig.rs
  src/interfaces/executor.rs
  src/interfaces/router02.rs
  src/lib.rs
  src/main.rs
  src/simulation/tracing.rs
  src/utils/setup.rs
  src/utils/utils.rs
Due: rust-clippy, forge-fmt

CLEAN: Delete UniswapV3Helper.sol
  contracts/src/UniswapV3Helper.sol
Due: forge-fmt

REFACTOR: Remove unwrap() to prevent uncontrollable panics
  examples/uniswap_v2_token_swap.rs
  src/interfaces/erc20.rs
  src/interfaces/router02.rs
  src/main.rs
  src/simulation/tracing.rs
  src/utils/addresses.rs
  src/utils/utils.rs
Due: rust-clippy

CHORE: Bump package version
  Cargo.toml
Due: none

FEAT: Implement caching for cargo
  .github/workflows/rust.yml
  .pre-commit-config.yaml
Due: none

FEAT: Update rust.yml to run on every rust file edit
  .github/workflows/rust.yml
Due: none

FIX: Add rust.yml to action path
  .github/workflows/rust.yml
Due: none

FIX: Add rust.yml to action path, specify full path
  .github/workflows/rust.yml
Due: none

FEAT: Remove Cargo.lock from .gitignore
  .gitignore
  Cargo.lock
Due: none

FEAT: Introduce generics for erc20 contract creation
  src/interfaces/erc20.rs
Due: rust-clippy

FEAT: Introduce generics into Executor.rs
  src/interfaces/executor.rs
  src/simulation/engine.rs
  src/simulation/engine_filter.rs
  src/simulation/tracing.rs
  src/utils/setup.rs
Due: rust-clippy

FEAT: Add test_engine_task testcase
  src/simulation/engine.rs
Due: rust-clippy

FEAT: Add unit tests for Filter types
  Cargo.lock
  Cargo.toml
  src/simulation/engine_filter.rs
Due: rust-clippy

FEAT: Implement susbcribe_filter to prefilter pending transactions
  src/lib.rs
  src/watcher/subscribe.rs
  src/watcher/subscribe_filter.rs
Due: rust-clippy

FEAT: Create FundManager.sol contract
  Cargo.lock
  Cargo.toml
  README.md
  contracts/src/FundManager.sol
  contracts/src/interfaces/IFundManager.sol
  contracts/src/interfaces/IOracle.sol
  src/flashbots_share/jit_bundler.rs
  src/flashbots_share/uniswapv3_extraction.rs
  src/lib.rs
  src/simulation/engine.rs
  src/utils/addresses.rs
Due: rust-clippy, forge-fmt

FEAT: Create Executor.sol and implement FundManager.sol
  contracts/src/Executor.sol
  contracts/src/FundManager.sol
  contracts/src/interfaces/IERC20Token.sol
  contracts/src/interfaces/IFundManager.sol
  contracts/src/interfaces/IUniswapV2Pair.sol
  contracts/src/interfaces/IUniswapV2Router.sol
  src/interfaces/erc20.rs
  src/interfaces/router02.rs
Due: rust-clippy, forge-fmt

forge install: openzeppelin-contracts-upgradeable
  .gitmodules
Due: none

FEAT: Implement Executor.sol
  contracts/src/Executor.sol
  contracts/src/FundManager.sol
  contracts/src/Whitelist.sol
  contracts/src/interfaces/IFundManager.sol
Due: forge-fmt

FEAT: Implement uniswap v3 bundler builder
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  contracts/remappings.txt
  contracts/src/Executor.sol
  contracts/src/FundManager.sol
  contracts/src/Whitelist.sol
  contracts/src/interfaces/IExecutor.sol
  src/flashbots_share/extraction.rs
  src/flashbots_share/jit_bundler.rs
  src/lib.rs
  src/simulation/engine.rs
Due: rust-clippy, forge-fmt

FEAT: Implement bundler builder
  src/flashbots_share/bundler.rs
  src/lib.rs
Due: rust-clippy

TEST: Create test contract for Whitelist.sol
  contracts/src/FundManager.sol
  contracts/src/Whitelist.sol
  contracts/test/WhitelistTest.t.sol
  src/flashbots_share/bundler.rs
Due: rust-clippy, forge-fmt

FEAT: Implement FundManagerTest
  contracts/src/FundManager.sol
  contracts/src/interfaces/IFundManager.sol
  contracts/src/mocks/MockERC20.sol
  contracts/src/mocks/MockOracle.sol
  contracts/test/FundManagerTest.t.sol
Due: forge-fmt

FEAT: Modify runtests.sh to accomodate foundry
  .github/workflows/rust.yml
  contracts/src/Executor.sol
  contracts/test/ExecutorTest.t.sol
  run-tests.sh
Due: forge-fmt

FEAT: Implement initial tests for Executor.sol
  .github/workflows/solidity.yml
  .gitignore
  contracts/src/Executor.sol
  contracts/test/ExecutorTest.t.sol
Due: forge-fmt

FIX: Increase verbosity of foundry test
  .github/workflows/solidity.yml
Due: none

Path conditions:
  rust-clippy: any of: \.rs$
  forge-fmt: any of: ^contracts/.*\.sol$
