Repository scaraven/jit-liquidity-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-clippy, forge-fmt, forge-build, forge-test

rust-clippy:
  name: Rust clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all -Wclippy::too_many_arguments
  pass_filenames: false
  language: system

forge-fmt:
  name: Forge fmt
  description: Run forge fmt on files included in the commit. forge should be installed before-hand.
  entry: bash -c 'cd contracts && forge fmt --check'
  pass_filenames: false
  language: system

forge-build:
  name: Forge build
  description: Run forge build on files included in the commit. forge should be installed before-hand.
  entry: bash -c 'cd contracts && forge build --sizes'
  pass_filenames: false
  language: system

forge-test:
  name: Forge test
  description: Run forge test on files included in the commit. forge should be installed before-hand.
  entry: bash -c 'cd contracts && forge test -vvv --fork-url $INFURA_URL --fork-block-number $INFURA_URL_BLOCK'
  pass_filenames: false
  language: system

FIX: Move forking into cli
  .github/workflows/solidity.yml
  .pre-commit-config.yaml
  contracts/test/ExecutorTest.t.sol
Due: forge-fmt, forge-build, forge-test

FIX: Specify correct forge arg
  .github/workflows/solidity.yml
Due: none

FEAT: Update gh secret key and revert to old fork code
  .github/workflows/solidity.yml
  .pre-commit-config.yaml
  README.md
  contracts/test/ExecutorTest.t.sol
Due: forge-fmt, forge-build, forge-test

forge install: chainlink
  .gitmodules
Due: none

FEAT: Modify whitelist to verify addresses, add Chainlink Oracle, modify Executor to directly use UniswapV3Pools
  contracts/remappings.txt
  contracts/src/Executor.sol
  contracts/src/FundManager.sol
  contracts/src/Oracle.sol
  contracts/src/Whitelist.sol
  contracts/src/interfaces/IExecutor.sol
  contracts/src/interfaces/IFundManager.sol
  contracts/src/interfaces/IOracle.sol
  contracts/src/mocks/FakeUniswapV3Pool.sol
  contracts/src/mocks/MockOracle.sol
  contracts/test/ExecutorTest.t.sol
  contracts/test/FundManagerTest.t.sol
  contracts/test/Oracle.t.sol
  contracts/test/WhitelistTest.t.sol
  src/flashbots_share/jit_bundler.rs
  src/watcher/subscribe.rs
Due: rust-clippy, forge-fmt, forge-build, forge-test

TEST: Implement Executor test with swaps
  contracts/src/Executor.sol
  contracts/src/FundManager.sol
  contracts/src/Oracle.sol
  contracts/src/interfaces/IFundManager.sol
  contracts/src/interfaces/IOracle.sol
  contracts/src/mocks/MockOracle.sol
  contracts/test/DummyTest.t.sol
  contracts/test/ExecutorTest.t.sol
  contracts/test/FundManagerTest.t.sol
  contracts/test/Oracle.t.sol
  contracts/test/WhitelistTest.t.sol
Due: forge-fmt, forge-build, forge-test

CHORE: update README to provide more detailed instructions on setup and testing
  README.md
Due: none

FEAT: Implement bundle forwarder, use custom alloy-mev version
  Cargo.lock
  Cargo.toml
  src/flashbots_share/bundle_extraction.rs
  src/flashbots_share/bundle_forwarder.rs
  src/flashbots_share/jit_bundler.rs
  src/lib.rs
Due: rust-clippy

FEAT: Added shutdown mechanisem for the subscriber
  src/simulation/engine_filter.rs
  src/watcher/subscribe.rs
Due: rust-clippy

FEAT: Added flags and .env usage in run-tests
  run-tests.sh
Due: none

FIX: Modify rust.yml to accomodate new run-tests interface
  .github/workflows/rust.yml
Due: none

FEAT: Implement mev.rs and fix incorrect Transaction imports
  src/flashbots_share/bundle_forwarder.rs
  src/flashbots_share/bundler.rs
  src/flashbots_share/jit_bundler.rs
  src/flashbots_share/mev.rs
  src/lib.rs
Due: rust-clippy

FEAT: Generalise bundler to take in multiple frontrun and backrun txs
  Cargo.lock
  Cargo.toml
  src/flashbots_share/bundler.rs
Due: rust-clippy

FEAT: Implement mev.rs and separate jit_bundler to general SandwichBundler trait
  src/flashbots_share/bundle_extraction.rs
  src/flashbots_share/bundle_forwarder.rs
  src/flashbots_share/jit_bundler.rs
  src/flashbots_share/mev.rs
  src/flashbots_share/sandwich_bundler.rs
  src/lib.rs
Due: rust-clippy

FEAT: Start implementing mev example
  examples/flashbot_mev.rs
  src/config/config.rs
Due: rust-clippy

FEAT: Move module declarations into jit_bundler
  examples/flashbot_mev.rs
  examples/uniswap_v2_token_swap.rs
  src/flashbots_share/jit_bundler.rs
  src/flashbots_share/mev.rs
  src/lib.rs
Due: rust-clippy

feat: Impleent flashbot_mev example
  Cargo.lock
  Cargo.toml
  examples/flashbot_mev.rs
  examples/uniswap_v2_token_swap.rs
  src/flashbots_share/bundler.rs
  src/flashbots_share/jit_bundler.rs
  src/flashbots_share/mev.rs
  src/flashbots_share/sandwich_bundler.rs
Due: rust-clippy

chore: update README.md for clarity
  README.md
  src/watcher/subscribe.rs
Due: rust-clippy

feat: remove generic types from subscriber, return channel to receive transactions
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  README.md
  examples/monitor_public_txs.rs
  src/config/config.rs
  src/lib.rs
  src/watcher/membuilder.rs
  src/watcher/mempool.rs
  src/watcher/shutdownconfig.rs
  src/watcher/subscribe.rs
  src/watcher/subscribefilter.rs
Due: rust-clippy

feat: implement alchemy provider to subscribe to transactions
  Cargo.lock
  Cargo.toml
  src/flashbots_share/sandwich_bundler.rs
  src/lib.rs
  src/watcher/alchemy/alchemy.rs
  src/watcher/mempool.rs
Due: rust-clippy

test: use mainnet alchemy url for testing mempool
  examples/monitor_public_txs.rs
  src/config/testconfig.rs
  src/lib.rs
  src/providers/alchemy.rs
  src/watcher/alchemy/alchemy.rs
  src/watcher/membuilder.rs
  src/watcher/mempool.rs
Due: rust-clippy

feat: improve run-tests help output
  run-tests.sh
Due: none

test: shorten mempool test to be more concise
  src/watcher/mempool.rs
Due: rust-clippy

test: modify test so that receiving and shutdown is tested separately
  .github/workflows/rust.yml
  src/config/testconfig.rs
  src/watcher/mempool.rs
Due: rust-clippy

refactor: rename INFURA_URL, INFURA_WS_URL, .. variables to RPC*
  .github/workflows/rust.yml
  .github/workflows/solidity.yml
  README.md
  contracts/test/ExecutorTest.t.sol
  contracts/test/Oracle.t.sol
  contracts/test/WhitelistTest.t.sol
  run-tests.sh
  src/config/config.rs
Due: rust-clippy, forge-fmt, forge-build, forge-test

doc: updated README.md to update TODO information
  README.md
Due: none

refactor: add mod.rs files to clean up file organisation
  examples/flashbot_mev.rs
  examples/monitor_public_txs.rs
  examples/uniswap_v2_token_swap.rs
  src/config/mod.rs
  src/config/runconfig.rs
  src/flashbots_share/jit_bundler.rs
  src/flashbots_share/mev.rs
  src/flashbots_share/mod.rs
  src/interfaces/erc20.rs
  src/interfaces/mod.rs
  src/interfaces/router02.rs
  src/lib.rs
  src/providers/mod.rs
  src/simulation/engine.rs
  src/simulation/engine_filter.rs
  src/simulation/mod.rs
  src/simulation/tracing.rs
  src/utils/blockchain_utils.rs
  src/utils/mod.rs
  src/utils/setup.rs
  src/watcher/membuilder.rs
  src/watcher/mempool.rs
  src/watcher/mod.rs
Due: rust-clippy

feat: add basic skeleton code to main
  examples/monitor_public_txs.rs
  src/main.rs
Due: rust-clippy

feat: deploy contracts on sepolia and finish main function
  contracts/broadcast/ExecutorDeploy.sol/11155111/run-1738520581.json
  contracts/broadcast/ExecutorDeploy.sol/11155111/run-1738520780.json
  contracts/broadcast/ExecutorDeploy.sol/11155111/run-latest.json
  contracts/foundry.toml
  contracts/script/ExecutorDeploy.sol
  src/main.rs
Due: rust-clippy, forge-fmt, forge-build, forge-test

feat: implement simple transaction swap on sepolia
  src/config/mod.rs
  src/config/testnetconfig.rs
  src/main.rs
  tests/.python-version
  tests/encode.py
Due: rust-clippy

debug: add debug code for deployment
  src/flashbots_share/jit_bundler.rs
  src/main.rs
  src/simulation/tracing.rs
  src/watcher/subscribefilter.rs
Due: rust-clippy

feat: fix bug where swap event was incorrectly indexed
  Cargo.lock
  Cargo.toml
  src/flashbots_share/jit_bundler.rs
  src/main.rs
Due: rust-clippy

feat: add foundry fuzzing to contracts
  contracts/test/ExecutorTest.t.sol
  contracts/test/WhitelistTest.t.sol
Due: forge-fmt, forge-build, forge-test

chore: fmt solidity contracts
  contracts/src/Executor.sol
  contracts/src/interfaces/IUniswapV2Router.sol
Due: forge-fmt, forge-build, forge-test

Path conditions:
  rust-clippy: any of: \.rs$
  forge-fmt: any of: ^contracts/.*\.sol$
  forge-build: any of: ^contracts/.*\.sol$
  forge-test: any of: ^contracts/.*\.sol$
